body {
    direction: rtl;
    padding-top: 50px;
}

h1 {
    margin-bottom: 20px;
    padding-bottom: 9px;
    border-bottom: 1px solid #eee;
}

form.border-bottom {
    margin-bottom: 15px;
    padding-bottom: 15px;
}

#calendar {
  max-width: 80%;
  margin: 40px auto;
}
